body {
    background: #2f3f43;
    color: #444;
}

.navbar {
    border-bottom: 10px solid #9ecc54
}

.navbar-logo {
    color: #9ecc54;
}

.site-content {
    padding-top: 1rem;
    margin-bottom: 5rem;
}

.ui {
    cursor: pointer;
}